node_modules
dist
dist-ssr
*.local
.vite
.DS_Store
!.env.example

*.tsbuildinfo

# Server runtime data
server/data
server/dist

# IDE
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
config.bat
